.file-upload {
    position: relative;
    padding: 10px 20px;

    border: 1px solid #eee;
    border-radius: 2px;

    cursor: pointer;
}

.file-upload__element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    pointer-events: none;
}
